
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

#div {
    padding: 20px;
    border: 2px solid black;
}

#form {
    padding: 20px;
    border: 2px solid red;
}

#button {
    padding: 20px;
    border: 2px solid green;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.products span {
    padding: 20px;
    border: 2px solid black;
}
